<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @notifying_agency.name %>
</p>


<%= link_to 'Edit', edit_notifying_agency_path(@notifying_agency) %> |
<%= link_to 'Back', notifying_agencies_path %>
