<p id="notice"><%= notice %></p>

<p>
  <b>Type name:</b>
  <%= @economic_status.type_name %>
</p>


<%= link_to 'Edit', edit_economic_status_path(@economic_status) %> |
<%= link_to 'Back', economic_statuses_path %>
